body {
    background-color: #ccc;
}

table, tr, td {
    padding: 50px 0px;
    with: 50%;
    align: center;
    font-size: 30px;
    text-align: center;
    color: #333;
}

.word {
    font-size: 100px;
    text-align: center;
    color: #FF0000;
    padding: 100px 25px;
}