<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:with="lang=${#locale.language}" th:lang="${lang}">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
          integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/style.css}"/>
    <script>
        window.addEventListener("keydown", event => {
            if (event.key == " ") {
                window.location.reload();
            }
        });




    </script>
    <title>Szó olvasó</title>
</head>

<body>
<p th:class="word" th:text="${word}"/>
<hr>
<div class="container my-3">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <form th:action="@{/set}" th:object="${letter}" th:method="post">
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label>Mássalhangzók: </label>
                        <input type="text" class="form-control" th:field="*{consonants}">
                    </div>
                    <div class="form-group col-md-12">
                        <label>Magánhangzók: </label>
                        <input type="text" class="form-control" th:field="*{vowels}">
                    </div>
                    <div class="form-group row col-md-6">
                        <label class="col-sm-4 col-form-label"> Stílus: </label>
                        <select class="form-control col-sm-6" th:field="*{letterStyle}">
                            <option value="LOWER">kisbetű</option>
                            <option value="UPPER">NAGYBETŰ</option>
                            <option value="FIRST">Első betű</option>
                        </select>
                    </div>
                    <div class="form-group row col-md-6">
                        <label class="col-sm-8 col-form-label">Betűk száma: </label>
                        <input type="number" step="any" min="2" max="30" class="form-control col-sm-4" th:field="*{wordLength}">
                    </div>
                    <button type="submit" class="btn btn-primary btn-block mt-3">Beállít</button>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>