<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:with="lang=${#locale.language}" th:lang="${lang}">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
          integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/style.css}"/>
    <script>
        window.addEventListener("keydown", event => {
            if (event.key == " ") {
                window.location.reload();
            }
        });


    </script>
    <title>Szótagok</title>
</head>

<body>
<div class="container">
    <table class="table">
        <tr th:each="syllables : ${syllables_list}">
            <div th:each="syllable : ${syllables}">
                <td th:text="${syllable}"></td>
            </div>
        </tr>
    </table>

    <hr>
    <div class="container my-3">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <form th:action="@{/set-syllable}" th:object="${letter}" th:method="post">
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label>Mássalhangzók: </label>
                            <input type="text" class="form-control" th:field="*{consonants}">
                        </div>
                        <div class="form-group col-md-12">
                            <label>Magánhangzók: </label>
                            <input type="text" class="form-control" th:field="*{vowels}">
                        </div>
                        <input type="hidden" th:field="*{letterStyle}">
                        <input type="hidden" th:field="*{wordLength}">
                        <button type="submit" class="btn btn-primary btn-block mt-3">Beállít</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>